
* {
    /*padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;*/
  }

body {
    background-color: white;
    color: rgb(10, 10, 10);
    font-family: Arial;
    padding: 25px;
    margin: 25px;
   
}

.fuente-clara {color: black;}

.fuente-oscura {color:gray;}

.fuente-acento {color: red;}

/* ENCABEZADO*/

header {
    background-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 200px;
    margin: 200px;
    clear:both;
    float: inline-start;
    position: relative; 
}

nav ul li a {
    color:white
}
.menu.fuente-acento {
    color: white;
}

/* CENTRO*/
.Imagen1{
    border:none;
    border-radius: 10px 40px 40px 10px;
    width: 500px;
    height: 700px; 
    float: left; 
    clear: both;
}

.Imagen2{
    border:none;
    border-radius: 10px 40px 40px 10px;
    width: 700px;
    height: 500px;
    float: right;
    clear: both;  
}
main {
    background-color: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    margin: 25px;
    border-radius: 30px;

}

footer {
    background-color: gray;
    color: white;
    font-family: Arial;
    padding: 20px;
    margin: 25px;
    border: 1px solid black;
    /*border-radius: 40px 10px;*/ 
    /*align-self: baseline;*/
}


