
body {
    background-color: white;
    color: black;
    font-family: Arial;
    padding: 25px;
    margin: 25px;
   
}
.fuente-acento {
  color: red;
}

.fuente.clara {
  color: blue
}
/* ENCABEZADO*/

#check {
  display: none;
}

.checkbton {
  font-size: 25px;
  color: red;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  
}

header {
    background-color: gray;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    float: left;
    margin: 20px;

/* CENTRO*/
 
}
main {
    background-color: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    margin: 25px;
    border-radius: 30px;

}

footer {
    background-color: gray;
    color: white;
    font-family: Arial;
    padding: 20px;
    margin: 25px;
    border: 1px solid black;
    /*border-radius: 40px 10px;*/ 
    /*align-self: baseline;*/
}


